* {
    margin: 0;
    padding: 0;
}

#drag-move {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #DC143C;
    border-radius: 50px;
    width: 406px;
    padding: 20px;
}

#drag-move ul {
    list-style: none;
}

#drag-move ul li {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    margin: 5px;
    position: relative;
    box-sizing: border-box;
    background-size: 74px;
    background-position: center center;
    background-repeat: no-repeat;
}

/*设置背景图片*/
#drag-move .img1 {
    background-image: url(../img/1.jpg);
}

#drag-move .img2 {
    background-image: url(../img/2.jpg);
}

#drag-move .img3 {
    background-image: url(../img/3.jpg);
}

#drag-move .img4 {
    background-image: url(../img/4.jpg);
}

#drag-move .img5 {
    background-image: url(../img/5.jpg);
}

#drag-move .img6 {
    background-image: url(../img/6.jpg);
}

#drag-move .img7 {
    background-image: url(../img/7.jpg);
}

#drag-move .img8 {
    background-image: url(../img/8.jpg);
}

#drag-move .img9 {
    background-image: url(../img/9.jpg);
}

#drag-move .img10 {
    background-image: url(../img/10.jpg);
}

#drag-move .img11 {
    background-image: url(../img/11.jpg);
}

#drag-move .img12 {
    background-image: url(../img/12.jpg);
}

#drag-move .img13 {
    background-image: url(../img/13.jpg);
}

#drag-move .img14 {
    background-image: url(../img/14.jpg);
}

#drag-move .img15 {
    background-image: url(../img/15.jpg);
}

#drag-move .img16 {
    background-image: url(../img/16.jpg);
}

#drag-move .img17 {
    background-image: url(../img/17.jpg);
}

#drag-move .img18 {
    background-image: url(../img/18.jpg);
}

#drag-move .img19 {
    background-image: url(../img/19.jpg);
}

#drag-move .img20 {
    background-image: url(../img/20.jpg);
}

/*图片被点击时*/
#drag-move .active {
    border: 2px solid #f03;
}

/*设置距离移动元素最近的节点的背景*/
#drag-move .bg {
    background-image: url(../img/marker_top.gif), url(../img/marker_middle.gif), url(../img/marker_bottom.gif);
    background-repeat: no-repeat, repeat-y, no-repeat;
    background-position: left top, left, left bottom;
    background-clip: border-box, border-box, border-box;
}


#drag-move div {
    position: absolute;
    width: 10px;
    height: 90px;
    left: -8px;
    top: -5px;
}

/* 清除浮动 */
.clearfix {
    zoom: 1;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    font-size: 0;
    clear: both;
    height: 0;
}
